{% extends 'base.html' %}

{% block helmet_title %} Blog {% endblock helmet_title %}

{% block content %}
<section class="content">
   <div class="container py-5">
       <h2 class="font-weight-bold mb-4">Artikel Terbaru</h2>
        <div class="row no-gutters">
            {% for post in page_obj %}
            <div class="mb-2">
                <div class="card mb-4 shadow">
                    <div class="row">
                        <div class="col-md-4">
                            {% if post.featured_image %}
                                <img class="card-img" src="{{ post.featured_image.url }}" alt="">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_at}} </p>
                                <p class="card-text">{{post.content|slice:150|safe }} ...</p>
                                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary font-weight-bold">Read More &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

       <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</section>


{% endblock content %}