{% extends 'base.html' %}

{% block helmet_title %} Blog {% endblock helmet_title %}

{% block content %}
    <div class="container py-5">
        {% for post in post_list %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_at}} </p>
                <p class="card-text">{{post.content|slice:":200"|safe }}</p>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}