/* line 6, static/sass/project.scss */
body {
  font-family: 'Nunito Sans', sans-serif; }

/* line 10, static/sass/project.scss */
.content {
  padding-top: 2.25em;
  padding-bottom: 2.5em; }

/* line 15, static/sass/project.scss */
.blog-content {
  padding: 0; }
  /* line 17, static/sass/project.scss */
  .blog-content p {
    font-size: 1.25em; }

@media (min-width: 768px) {
  /* line 23, static/sass/project.scss */
  .content {
    padding-left: 3em;
    padding-right: 3em; } }
