{% extends 'base.html' %}

{% block helmet_title %}
    iniFM Webisite
{% endblock %}

{% block content %}
<section class="content main-site m-vh d-flex align-items-center" id="main">
    <div class="container">
        <h3 class="font-weight-bold text-white mb-0">Hello World,</h3>
        <h1 class="font-weight-bold text-white">This is Fadhli Mulyana</h1>
    </div>
</section>
<section class="content">
    <div class="container py-5">
        <h2 class="font-weight-bold mb-4">Artikel Terbaru</h2>
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-3 col-md-4 mb-3">
                    <div class="card shadow">
                        {% if post.featured_image %}
                            <img class="card-img cover-link" src="{{ post.featured_image.url }}" alt="">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4
                            <p class="card-text">{{post.content|slice:50|safe }} ...</p>
                            <a href="{% url 'blog:post_detail' post.category.slug post.slug  %}" class="btn btn-sm btn-primary font-weight-bold">Read More &rarr;</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="mt-3 d-flex justify-content-end">
            <a class="btn btn-outline-primary font-weight-bold" href="/blog">Lihat Lebih Banyak</a>
        </div>
    </div>
</section>

<section class="content profile-brief text-white">
    <div class="container py-5">
        <h2 class="font-weight-bold mb-4">Profil Singkat</h2>
        <h5><i class="far fa-id-card"></i> Muhammad Fadhli Putra Mulyana</h5>
        <h5><i class="fas fa-briefcase"></i> Mahasiswa</h5>
        <h5><i class="far fa-building"></i> Universitas Sebelas Maret</h5>
        <h5><i class="fas fa-map-marker-alt"></i> Klaten, Indonesia</h5>
        <a href="/tentang" class="btn btn-outline-light mt-4">Lihat Selengkapnya</a>
    </div>
</section>

<section class="content d-flex align-item-center text-center">
    <div class="container py-5">
        <h2 class="font-weight-bold">Temukan Saya di Media Lain</h2>
        <div class="row no-gutters social-grid">
            <div class="col-md-3 col-6 px-2 mb-4">
                <a href="https://twitter.com/fadhlimulyana" class="social-link btn btn-outline-primary px-md-5 px-3 py-3">
                    <i class="d-block h1 fab fa-twitter"></i>
                    <h5 class="font-weight-bold">Twiiter</h5>
                </a>
            </div>
            <div class="col-md-3 col-6 px-2 mb-4">
                <a href="https://www.instagram.com/fadhlimulyana/" class="social-link btn btn-outline-primary px-md-5 px-3 py-3">
                    <i class="d-block h1 fab fa-instagram"></i>
                    <h5 class="font-weight-bold">Instagram</h5>
                </a>
            </div>
                 <div class="col-md-3 col-6 px-2 mb-4">
                <a href="https://medium.com/@fadhlimulyana20" class="social-link btn btn-outline-primary px-md-5 px-3 py-3">
                    <i class="d-block h1 fab fa-medium"></i>
                    <h5 class="font-weight-bold">Medium</h5>
                </a>
            </div>
                 <div class="col-md-3 col-6 px-2 mb-4">
                <a href="https://github.com/fadhlimulyana20" class="social-link btn btn-outline-primary px-md-5 px-3 py-3">
                    <i class="d-block h1 fab fa-github"></i>
                    <h5 class="font-weight-bold">Github</h5>
                </a>
            </div>

        </div>
    </div>
</section>

{% endblock %}
